@font-face
{
font-family: ApollosMum2;
src: url(ApollosMum 2.tff) format("truetype");

font-family: ChangaOne-Regular;
src: url(ChangaOne-Regular.tff) format("truetype");

font-family: Metropolis;
src: url(Metropolis 1920.otf) format("truetype");

} 