@import url("../../packages/bootjack/css/bootstrap.min.css");
@import url("../../packages/bootjack/css/bootstrap-theme.css");

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  overflow: hidden;
}

#main {
  height: 100%;
}

#helpButton:hover {
  background: #bbbbbb;
}

h1, p {
  color: #333;
}

#container-id {
  width: 100%;
  position: relative;
  background-color: #F0F0F0;
  overflow: hidden;
}