@import url("../../packages/bootjack/css/bootstrap.min.css");
@import url("../../packages/bootjack/css/bootstrap-theme.css");

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

#helpButton:hover {
  background: #bbbbbb;
}

#headerBar {
}

h1, p {
  color: #333;
}

#container-id {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid #ccc;
  background-color: #cbcbcb; /*#bdb8ad; */
  border-radius:3px;
  overflow: hidden;
  /*margin-top: 6%;*/
}


