body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

#headerBar {
  background-color: #35302c;
  border: 1px solid #35302c;
}

h1, p {
  color: #333;
}

#container-id {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid #ccc;
  background-color: #bdb8ad;
  border-radius:3px;
  overflow: hidden;
  /*margin-top: 6%;*/
}


